{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block styles %}
{{ bootstrap.load_css() }}
{% endblock %}
{% block content %}
<div class="pr-4">
<form method="POST">
{{ form.csrf_token() }}
    <div class="mb-12">
<div class="py-4 mb-2">
    {{form.date.label(class_='text-lg')}}
    {{ form.date(class_='form-select rounded-lg mb-2') }}
    {{form.dhobi.label(class_='text-lg')}}
    {{ form.dhobi(class_='form-select rounded-lg') }}
</div>
    {% for product in form.product: %}
    {% for field in product: %}
    {{ field.label }}
    {{ field(class_="form-input rounded-lg mb-4") }}
    {% endfor %}
    <br>
    {% endfor %}
    </div>
    {{ form.submit(class_="bg-green-600 px-8 py-2 rounded-lg text-white hover:bg-green-700") }}
</form>
</div>
{% endblock %}

{% block script %}

<!--<scrip>-->
<!--    window.onload = function() {-->
<!--        let addFieldBtn = document.getElementById('add-entry-button');-->
<!--        addFieldBtn.addEventListener('click', function(e){-->
<!--            e.preventDefault();-->
<!--            let allFieldWrapper = document.getElementById('product')-->
<!--            let allFields = allFieldWrapper.getElementsByTag('select')-->
<!--            let fieldInputIds = []-->
<!--            for(let i = 0; i < allFields.length; i++){-->
<!--                fieldInputIds.push(parseInt(allFields[i].name.split('-')[1]));-->
<!--            }-->
<!--            -->


<!--</scrip>-->
{% endblock %}

<!--<script>-->
<!--    window.onload = function() {-->
<!--        let addMovieFieldBtn = document.getElementById('add-movie-field');-->
<!--        addMovieFieldBtn.addEventListener('click', function(e){-->
<!--            e.preventDefault();-->
<!--            let allMoviesFieldWrapper = document.getElementById('movies');-->
<!--            let allMoviesField = allMoviesFieldWrapper.getElementsByTagName('input');-->
<!--            if(allMoviesField.length > 4) {-->
<!--                alert('You can  have only five movies name');-->
<!--                return;-->
<!--            }-->
<!--            let movieInputIds = []-->
<!--            for(let i = 0; i < allMoviesField.length; i++) {-->
<!--                movieInputIds.push(parseInt(allMoviesField[i].name.split('-')[1]));-->
<!--            }-->
<!--            let newFieldName = `movies-${Math.max(...movieInputIds) + 1}`;-->
<!--            allMoviesFieldWrapper.insertAdjacentHTML('beforeend',`-->
<!--            <li><label for="${newFieldName}">Movie Name</label> <input id="${newFieldName}" name="${newFieldName}" type="text" value=""></li>-->
<!--            `);-->
<!--        });-->
<!--    }-->
<!--</script>-->
